@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  width: 60%;
  margin: auto;
  padding: 1rem;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  padding: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
ul li {
  font-size: 1.5rem;
  font-weight: bold;
  list-style-type: none;
}

.header {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}
.header a:hover {
  background-color: #e0e0e0;
}

.add_form {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  flex-direction: column;
}

.add_form .add_form_input {
  display: flex;
  flex-direction: column;
}

.add_form label {
  font-weight: bold;
}

.add_form input,
.add_form textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border-color: lightgray;
}

.add_form button {
  cursor: pointer;
  padding: 0.5rem 0;
}

.blog_content {
  margin-top: 1rem;
}

.blog_content_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog_content_item .blog_title {
  font-weight: bold;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}
.blog_content_item .blog_title:hover {
  color: #007bff;
  cursor: pointer;
}
.blog_content_item .blog_created_at {
  font-size: 1.2rem;
  color: rgb(134, 134, 134);
}

.article_title {
  font-size: 2rem;
  font-weight: bold;
}
.article_created_at {
  font-size: 1.2rem;
  color: rgb(134, 134, 134);
}
.article_description {
  margin-top: 1rem;
}
