<div class="header">
  <h1>Personal Blog</h1>
  <a href="/add">+ Add</a>
</div>

<ul class="blog_content">
  <% articles.map(article => { %>
  <li class="blog_content_item">
    <a href="/article/<%= article.id %>" class="blog_content_item_info">
      <span class="blog_title"><%= article.title %></span>
      <span class="blog_created_at"><%= parseDate(article.createdAt) %></span>
    </a>
    <div class="blog_content_item_actions">
      <a href="/edit/<%= article.id %>" class="button edit">Edit</a>
      <button class="button delete">Delete</button>
    </div>
  </li>
  <% }); %>
</ul>
