<div class="header">
  <h1>Personal Blog</h1>
</div>

<ul class="blog_content">
  <% articles.map(article => { %>
  <li class="normal_blog_content_item">
    <a href="/article/<%= article.id %>" class="normal_blog_content_item_info">
      <span class="blog_title"><%= article.title %></span>
      <span class="blog_created_at"><%= parseDate(article.createdAt) %></span>
    </a>
  </li>
  <% }); %>
</ul>
